<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>url</key>
					<string>https://doc-10-9o-docs.googleusercontent.com/docs/securesc/jqj5v1d62mtu9k25s3hhosm8gc0ebj32/858t8r4891e89rnk9bd21lr8l9ia3c3i/1681315350000/00634028249014285304/00634028249014285304/1gwgW4z-OH5icctFPHnkiHYypA4thcxVL?e=download&amp;ax=ALy03A5D7vypA1Ss1jg0ELCbJf_ur26vuZk6HChHc-YlK_V-YnmymmKt82qh4Wqp_Oeyy3l</string>
					<key>kind</key>
					<string>software-package</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ledtapp.pcso</string>
				<key>title</key>
				<string>PCSO</string>
				<key>bundle-version</key>
				<string>1.0.5</string>
				<key>kind</key>
				<string>software</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
